<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSDL_Phan_Tan.Properties.Settings.QLDSVConnectionString"
            connectionString="Data Source=DESKTOP-5BU4OJJ\TINH_NGUYEN;Initial Catalog=QLDSV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>