<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TRACNGHIEM.Properties.Settings.distributionConnectionString"
            connectionString="Data Source=THIENTAM\THIENTAM;Initial Catalog=distribution;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="TRACNGHIEM.Properties.Settings.TRACNGHIEMConnectionString"
            connectionString="Data Source=THIENTAM\THIENTAM;Initial Catalog=TRACNGHIEM;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="TRACNGHIEM.Properties.Settings.TRACNGHIEMConnectionString1"
            connectionString="Data Source=THIENTAM\THIENTAM_1;Initial Catalog=TRACNGHIEM;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">

            <supportedRuntime version="v4.0" />

</startup>

</configuration>