USE [THI_TN]
GO
/****** Object:  User [001]    Script Date: 1/4/2017 3:49:16 PM ******/
CREATE USER [001] FOR LOGIN [001] WITH DEFAULT_SCHEMA=[001]
GO
/****** Object:  User [002]    Script Date: 1/4/2017 3:49:16 PM ******/
CREATE USER [002] FOR LOGIN [002] WITH DEFAULT_SCHEMA=[002]
GO
/****** Object:  User [HTKN]    Script Date: 1/4/2017 3:49:16 PM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [TH101]    Script Date: 1/4/2017 3:49:16 PM ******/
CREATE USER [TH101] FOR LOGIN [TH101] WITH DEFAULT_SCHEMA=[TH101]
GO
/****** Object:  User [TH123]    Script Date: 1/4/2017 3:49:16 PM ******/
CREATE USER [TH123] FOR LOGIN [TH123] WITH DEFAULT_SCHEMA=[TH123]
GO
/****** Object:  User [TH234]    Script Date: 1/4/2017 3:49:16 PM ******/
CREATE USER [TH234] FOR LOGIN [TH234] WITH DEFAULT_SCHEMA=[TH234]
GO
/****** Object:  DatabaseRole [COSO]    Script Date: 1/4/2017 3:49:16 PM ******/
CREATE ROLE [COSO]
GO
/****** Object:  DatabaseRole [GIANGVIEN]    Script Date: 1/4/2017 3:49:16 PM ******/
CREATE ROLE [GIANGVIEN]
GO
/****** Object:  DatabaseRole [SINHVIEN]    Script Date: 1/4/2017 3:49:16 PM ******/
CREATE ROLE [SINHVIEN]
GO
/****** Object:  DatabaseRole [TRUONG]    Script Date: 1/4/2017 3:49:16 PM ******/
CREATE ROLE [TRUONG]
GO
ALTER ROLE [SINHVIEN] ADD MEMBER [001]
GO
ALTER ROLE [SINHVIEN] ADD MEMBER [002]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [COSO] ADD MEMBER [TH101]
GO
ALTER ROLE [COSO] ADD MEMBER [TH123]
GO
/****** Object:  Schema [001]    Script Date: 1/4/2017 3:49:17 PM ******/
CREATE SCHEMA [001]
GO
/****** Object:  Schema [002]    Script Date: 1/4/2017 3:49:17 PM ******/
CREATE SCHEMA [002]
GO
/****** Object:  Schema [TH101]    Script Date: 1/4/2017 3:49:17 PM ******/
CREATE SCHEMA [TH101]
GO
/****** Object:  Schema [TH123]    Script Date: 1/4/2017 3:49:17 PM ******/
CREATE SCHEMA [TH123]
GO
/****** Object:  Schema [TH234]    Script Date: 1/4/2017 3:49:17 PM ******/
CREATE SCHEMA [TH234]
GO
/****** Object:  StoredProcedure [dbo].[SP_A]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_A]
AS
BEGIN
	SELECT *FROM SINHVIEN
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DangNhapGiaoVien]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DangNhapGiaoVien]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM GIAOVIEN WHERE MAGV = @TENUSER ),NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
               WHERE MEMBERUID= (SELECT UID FROM sys.sysusers  WHERE NAME=@TENUSER))

GO
/****** Object:  StoredProcedure [dbo].[sp_DangNhapSinhVien]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DangNhapSinhVien]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM SINHVIEN  WHERE MASV = @TENUSER ),
   NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))


GO
/****** Object:  StoredProcedure [dbo].[SP_DSSV_LOP]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DSSV_LOP]
@MALOP VARCHAR (8)
AS
SELECT  [MASV]
      ,[HO]
      ,[TEN]
      ,[NGAYSINH]
      ,[DIACHI]
      ,SV.MALOP
      ,TENLOP
  FROM [SINHVIEN] SV, LOP
  WHERE SV.MALOP= @MALOP AND SV.MALOP = LOP.MALOP


GO
/****** Object:  StoredProcedure [dbo].[sp_GhiDiemSinhVien]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GhiDiemSinhVien] 
	@MASV CHAR(8),@MAMH CHAR(5),@LAN SMALLINT,
	@NGAYTHI DATETIME, @DIEM FLOAT, @BAITHI NTEXT
	AS
BEGIN
	INSERT INTO BANGDIEM (MASV,MAMH,LAN,NGAYTHI,DIEM,BAITHI)
	VALUES (@MASV,@MAMH,@LAN,@NGAYTHI,@DIEM,@BAITHI)
END


GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraGiaoVien]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KiemTraGiaoVien] 
@MAGV char(8)
AS
BEGIN
	IF EXISTS(SELECT 1 FROM dbo.GIAOVIEN WHERE dbo.GIAOVIEN.MAGV=@MAGV)
		BEGIN
			RETURN 1
		END	
	RETURN 0
END

GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraGiaoVienDK]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KiemTraGiaoVienDK]
@MAMH CHAR(5),
@MALOP CHAR(8),
@LAN SMALLINT,
@NGAY_THI DATETIME
AS
BEGIN

	DECLARE @mh CHAR(5), @lop CHAR(8)
	DECLARE @kt INT
	DECLARE @temp_lan SMALLINT

	-- kiểm tra xem đăng kí(maMH, maLop, lan) có tồn tài chưa
	IF EXISTS (	SELECT 1
				FROM GIAOVIEN_DANGKY gvdk
				WHERE  gvdk.MAMH = @MAMH AND gvdk.MALOP = @MALOP AND gvdk.LAN = @LAN)
	BEGIN							
		RETURN 1 -- đăng kí bị trùng							 								
	END		
	ELSE
	BEGIN		
				SET @temp_lan = @LAN
				
				DECLARE @ngay DATETIME
				WHILE(@temp_lan > 0) 
				BEGIN		
							SET @ngay = 0					
							SELECT @ngay = gvdk.NGAYTHI   
							FROM GIAOVIEN_DANGKY gvdk
							WHERE gvdk.MAMH = @MAMH AND gvdk.MALOP = @MALOP AND gvdk.LAN = @temp_lan
														
							IF(@ngay != 0)
							BEGIN
								IF (@NGAY_THI <= @ngay)
								BEGIN
									RETURN 2 -- ngày dk nhỏ hơn ngày trước đó
								END
							END
							SET @temp_lan = @temp_lan - 1
				END	
				
				RETURN 0 -- đăng kí hợp lệ	
	END	
END


GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraSinhVien]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KiemTraSinhVien] 
@MASV char(8)
AS
BEGIN
	IF EXISTS(SELECT 1 FROM dbo.SINHVIEN WHERE dbo.SINHVIEN.MASV=@MASV)
		BEGIN
			RETURN 1  -- <=> trùng sinh viên
		END
	IF EXISTS(SELECT 1 FROM [L1].TRACNGHIEM.dbo.SINHVIEN AS P WHERE P.MASV=@MASV) -- dùng link để đến cơ sở còn lại kiểm tra
		BEGIN
			RETURN 1
		END
	RETURN 0
END

GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraSoCauThi]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KiemTraSoCauThi] @SOCAUTHI SMALLINT,
@MAMH CHAR(5), 
@TRINHDO CHAR(1)
AS
BEGIN
	IF(@SOCAUTHI > (SELECT COUNT(*)
					FROM TRACNGHIEM.dbo.BODE
					WHERE MAMH = @MAMH AND TRINHDO >= @TRINHDO))
	BEGIN
		RETURN 1
	END

	RETURN 0

END
GO
/****** Object:  StoredProcedure [dbo].[sp_LayMaLop_TenLopSV]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LayMaLop_TenLopSV]
@MASV CHAR(8),
@MA_LOP CHAR(8) OUTPUT, 
@TEN_LOP VARCHAR(40) OUTPUT
AS
BEGIN
	SET @MA_LOP = (SELECT sv.MALOP
	FROM TRACNGHIEM.dbo.SINHVIEN sv
	WHERE sv.MASV = @MASV)

	SET @TEN_LOP = (SELECT  l.TENLOP
	FROM TRACNGHIEM.dbo.LOP l
	WHERE l.MALOP = @MA_LOP)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_LayMaMonHoc]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LayMaMonHoc]
AS
BEGIN
	SELECT *
	FROM TRACNGHIEM.dbo.MONHOC
END



GO
/****** Object:  StoredProcedure [dbo].[sp_LayMaMonThi]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LayMaMonThi]
@NGAY_THI DATETIME,
@MA_LOP CHAR(8)
AS
BEGIN
	SELECT gvdk.MAMH, gvdk.LAN
	FROM TRACNGHIEM.DBO.GIAOVIEN_DANGKY gvdk
	WHERE gvdk.NGAYTHI = @NGAY_THI AND gvdk.MALOP = @MA_LOP
END

GO
/****** Object:  StoredProcedure [dbo].[sp_LayThongTinThi]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LayThongTinThi]
@MAMH CHAR(5),
@MALOP CHAR(8),
@LAN SMALLINT,
@SOCAUTHI SMALLINT OUTPUT,
@TRINHDO CHAR OUTPUT,
@THOIGIAN SMALLINT OUTPUT
AS
BEGIN
	
	SELECT @SOCAUTHI = gvdk.SOCAUTHI, @TRINHDO = gvdk.TRINHDO, @THOIGIAN = gvdk.THOIGIAN
	FROM TRACNGHIEM.dbo.GIAOVIEN_DANGKY gvdk
	WHERE gvdk.MAMH = @MAMH AND gvdk.MALOP = @MALOP AND gvdk.LAN = @LAN
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Report]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Report]
(@MASV CHAR(8) )	
AS
BEGIN 
	SELECT LOP.MALOP,LOP.TENLOP,SINHVIEN.MASV,HOTEN = SINHVIEN.TEN+' '+SINHVIEN.HO,BANGDIEM.DIEM,BANGDIEM.MAMH,BANGDIEM.BAITHI,BANGDIEM.LAN,BANGDIEM.NGAYTHI
	FROM SINHVIEN 
		JOIN LOP ON LOP.MALOP=SINHVIEN.MALOP
		JOIN BANGDIEM ON SINHVIEN.MASV=BANGDIEM.MASV
	WHERE SINHVIEN.MASV = @MASV
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Select_Question]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Select_Question]
 @SOCAUTHI int,
 @TRINHDO NVARCHAR(3),
 @MAMH NVARCHAR(6)
AS
 DECLARE @N INT, @M INT
BEGIN
	SET @N= (SELECT COUNT (*) FROM BODE
	INNER JOIN GIAOVIEN ON GIAOVIEN.MAGV=BODE.MAGV
	INNER JOIN KHOA ON KHOA.MAKH=GIAOVIEN.MAKH
	WHERE MAMH=@MAMH)
	IF(@N>=@SOCAUTHI)
		SET @N=@SOCAUTHI
	SET @M=@SOCAUTHI-@N
	SELECT [NOIDUNG],[A],[B],[C],[D],[DAP_AN]from (
		SELECT TOP (@N) [NOIDUNG],[A],[B],[C],[D],[DAP_AN],gv.MAGV 
		FROM 
			( select MAMH,[NOIDUNG],[A],[B],[C],[D],[DAP_AN],MAGV from [TRACNGHIEM].[dbo].[BODE] where MAMH=@MAMH AND TRINHDO>=@TRINHDO) as bd
		inner join 
			(select MAGV,makh from GIAOVIEN ) as gv
				on gv.MAGV=bd.MAGV 
		inner join 
			(select makh from KHOA) as kh
				on kh.MAKH=gv.MAKH 
		ORDER BY NEWID()
		UNION ALL
		SELECT TOP (@M) [NOIDUNG],[A],[B],[C],[D],[DAP_AN],gv.MAGV 
		FROM 
			( select MAMH,[NOIDUNG],[A],[B],[C],[D],[DAP_AN],MAGV from [TRACNGHIEM].[dbo].[BODE] where MAMH=@MAMH AND TRINHDO>=@TRINHDO ) as bd
		inner join 
			(select MAGV,makh from GIAOVIEN ) as gv
				on gv.MAGV=bd.MAGV 
		left join 
			(select makh from KHOA) as kh
				on kh.MAKH=gv.MAKH 
			WHERE kh.MAKH is null ORDER BY NEWID()
			) AS A
END



GO
/****** Object:  StoredProcedure [dbo].[sp_TaoLogin]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TaoLogin]
  @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @ROLE VARCHAR(50)
AS
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'TRACNGHIEM'
  IF (@RET = 1)  -- LOGIN NAME BI TRUNG
     RETURN 1
 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 2
  END
  IF(@ROLE ='COSO')
  BEGIN
  EXEC sp_addsrvrolemember @LGNAME ,'sysadmin'
  EXEC sp_addsrvrolemember @LGNAME ,'SecurityAdmin'
  EXEC sp_addsrvrolemember @LGNAME ,'DBCreator'
  EXEC sp_addsrvrolemember @LGNAME ,'ProcessAdmin'
  EXEC sp_addrolemember 'COSO', @USERNAME
  END
  ELSE IF(@ROLE='TRUONG')
  BEGIN
	EXEC sp_addrolemember 'TRUONG', @USERNAME
  END
  ELSE IF(@ROLE='GIAOVIEN')
  BEGIN
	EXEC sp_addrolemember 'GIAOVIEN', @USERNAME
  END
  ELSE IF(@ROLE='SINHVIEN')
  BEGIN
	EXEC sp_addrolemember'SINHVIEN',@USERNAME
  END
  RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[sp_test]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_test]
@NGAY_THI DATETIME,
@MA_LOP CHAR(8)
AS
BEGIN
	SELECT *
	FROM TRACNGHIEM.DBO.GIAOVIEN_DANGKY gvdk
	WHERE gvdk.NGAYTHI = @NGAY_THI AND gvdk.MALOP = @MA_LOP
END
GO
/****** Object:  StoredProcedure [dbo].[spLayMaLop]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLayMaLop]
AS
BEGIN
	SELECT LOP.MALOP
	FROM LOP; 
END

GO
/****** Object:  Table [dbo].[BANGDIEM]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANGDIEM](
	[MASV] [char](8) NOT NULL,
	[MAMH] [char](5) NOT NULL,
	[LAN] [smallint] NOT NULL,
	[NGAYTHI] [datetime] NULL,
	[DIEM] [float] NULL,
	[BAITHI] [ntext] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_BANGDIEM] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMH] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BODE]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BODE](
	[CAUHOI] [int] NOT NULL,
	[MAMH] [char](5) NULL,
	[TRINHDO] [char](1) NULL,
	[NOIDUNG] [ntext] NULL,
	[A] [ntext] NULL,
	[B] [ntext] NULL,
	[C] [ntext] NULL,
	[D] [ntext] NULL,
	[DAP_AN] [char](1) NULL,
	[MAGV] [char](8) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_BODE] PRIMARY KEY CLUSTERED 
(
	[CAUHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COSO]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COSO](
	[MACS] [nchar](3) NOT NULL,
	[TENCS] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_COSO] PRIMARY KEY CLUSTERED 
(
	[MACS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [char](8) NOT NULL,
	[HO] [varchar](40) NULL,
	[TEN] [varchar](40) NULL,
	[DIACHI] [varchar](50) NULL,
	[MAKH] [nchar](8) NULL,
	[HOCVI] [varchar](40) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIAOVIEN_DANGKY]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAOVIEN_DANGKY](
	[MAGV] [char](8) NULL,
	[MAMH] [char](5) NOT NULL,
	[MALOP] [char](8) NOT NULL,
	[TRINHDO] [char](1) NULL,
	[NGAYTHI] [datetime] NULL,
	[LAN] [smallint] NOT NULL,
	[SOCAUTHI] [smallint] NULL,
	[THOIGIAN] [smallint] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GIAOVIEN_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC,
	[MALOP] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKH] [nchar](8) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[MACS] [nchar](3) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOP]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [char](8) NOT NULL,
	[TENLOP] [varchar](40) NOT NULL,
	[MAKH] [nchar](8) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UN_TENLOP] UNIQUE NONCLUSTERED 
(
	[TENLOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [char](5) NOT NULL,
	[TENMH] [varchar](40) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_TENMH] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UN_TENMH] UNIQUE NONCLUSTERED 
(
	[TENMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 1/4/2017 3:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](8) NOT NULL,
	[HO] [varchar](40) NULL,
	[TEN] [varchar](10) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [varchar](40) NULL,
	[MALOP] [char](8) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[BANGDIEM] ADD  CONSTRAINT [MSmerge_df_rowguid_08E36AFC6ED44D79A2F2160AC3ABB619]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[BODE] ADD  CONSTRAINT [MSmerge_df_rowguid_C0F0E4BD718B471D976036297C2FE07F]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[COSO] ADD  CONSTRAINT [MSmerge_df_rowguid_5341C8F142BC4654B542CCF5AD7A344F]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GIAOVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_CC702A6A5BDE446D94BF02B0B04EB0C0]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] ADD  CONSTRAINT [MSmerge_df_rowguid_C890A17BB1494B11A3EC6632E4DB7831]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHOA] ADD  CONSTRAINT [MSmerge_df_rowguid_3299EE83C1E94A8D96F970EC1260B577]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [MSmerge_df_rowguid_81DBC2E8CED74710A0147FF8ABF27DAD]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [MSmerge_df_rowguid_0D9E3B950FFA4F06B88B8947C9D5C776]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_88E01CAD457641C39C9DD6BE5E45ABF3]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [FK_BANGDIEM_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [FK_BANGDIEM_MONHOC]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [FK_BANGDIEM_SINHVIEN1] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [FK_BANGDIEM_SINHVIEN1]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [FK_BODE_GIAOVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [FK_BODE_GIAOVIEN]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [FK_BODE_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [FK_BODE_MONHOC]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH NOCHECK ADD  CONSTRAINT [FK_GIAOVIEN_DANGKY_GIAOVIEN1] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [FK_GIAOVIEN_DANGKY_GIAOVIEN1]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH NOCHECK ADD  CONSTRAINT [FK_GIAOVIEN_DANGKY_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [FK_GIAOVIEN_DANGKY_LOP]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH NOCHECK ADD  CONSTRAINT [FK_GIAOVIEN_DANGKY_MONHOC1] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [FK_GIAOVIEN_DANGKY_MONHOC1]
GO
ALTER TABLE [dbo].[KHOA]  WITH NOCHECK ADD  CONSTRAINT [FK_KHOA_COSO] FOREIGN KEY([MACS])
REFERENCES [dbo].[COSO] ([MACS])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[KHOA] CHECK CONSTRAINT [FK_KHOA_COSO]
GO
ALTER TABLE [dbo].[LOP]  WITH NOCHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH NOCHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM] CHECK NOT FOR REPLICATION (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [CK_DIEM]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_LANTHI] CHECK NOT FOR REPLICATION (([LAN]>=(1) AND [LAN]<=(2)))
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [CK_LANTHI]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [CK_BODE] CHECK NOT FOR REPLICATION (([TRINHDO]='A' OR [TRINHDO]='B' OR [TRINHDO]='C'))
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [CK_BODE]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [CK_DAPAN] CHECK NOT FOR REPLICATION (([DAP_AN]='D' OR ([DAP_AN]='C' OR ([DAP_AN]='B' OR [DAP_AN]='A'))))
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [CK_DAPAN]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH NOCHECK ADD  CONSTRAINT [CK_LAN] CHECK NOT FOR REPLICATION (([LAN]>=(1) AND [LAN]<=(2)))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_LAN]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH NOCHECK ADD  CONSTRAINT [CK_SOCAUTHI] CHECK NOT FOR REPLICATION (([SOCAUTHI]>=(10) AND [SOCAUTHI]<=(100)))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_SOCAUTHI]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH NOCHECK ADD  CONSTRAINT [CK_THOIGIAN] CHECK NOT FOR REPLICATION (([THOIGIAN]>=(15) AND [THOIGIAN]<=(60)))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_THOIGIAN]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH NOCHECK ADD  CONSTRAINT [CK_TRINHDO] CHECK NOT FOR REPLICATION (([TRINHDO]='C' OR ([TRINHDO]='B' OR [TRINHDO]='A')))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_TRINHDO]
GO
