USE [QLDSV]
GO
/****** Object:  Role [USER]    Script Date: 06/30/2016 14:38:45 ******/
CREATE ROLE [USER] AUTHORIZATION [dbo]
GO
/****** Object:  Role [ADMIN]    Script Date: 06/30/2016 14:38:45 ******/
CREATE ROLE [ADMIN] AUTHORIZATION [dbo]
GO
/****** Object:  User [KYTHU]    Script Date: 06/30/2016 14:38:44 ******/
CREATE USER [KYTHU] FOR LOGIN [KYTHU] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Schema [ADMIN]    Script Date: 06/30/2016 14:38:39 ******/
CREATE SCHEMA [ADMIN] AUTHORIZATION [ADMIN]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 06/30/2016 14:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKH] [char](4) NOT NULL,
	[TENKH] [varchar](50) NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[KHOA] ([MAKH], [TENKH]) VALUES (N'CNTT', N'Coâng ngheä thoâng tin')
INSERT [dbo].[KHOA] ([MAKH], [TENKH]) VALUES (N'VT  ', N'Vieãn thoâng')
/****** Object:  Table [dbo].[MONHOC]    Script Date: 06/30/2016 14:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [char](6) NOT NULL,
	[TENMH] [varchar](40) NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_MONHOC] UNIQUE NONCLUSTERED 
(
	[TENMH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'CTDL  ', N'Caáu truùc döõ lieäu')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'CSDLPT', N'Co so du lieu phan tan')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'CSDL  ', N'Cô sôû döõ lieäu')
/****** Object:  Table [dbo].[LOP]    Script Date: 06/30/2016 14:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [char](8) NOT NULL,
	[TENLOP] [varchar](80) NULL,
	[MAKH] [char](4) NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UK_TENLOP] UNIQUE NONCLUSTERED 
(
	[TENLOP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH]) VALUES (N'C10THA1 ', N'Cao ñaúng chính qui CNTT Khoùa 2010', N'CNTT')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH]) VALUES (N'D08-HTTT', N'Ñaïi hoïc chính qui 1  CNTT  Khoùa 08 ', N'CNTT')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH]) VALUES (N'D08VTA1 ', N'Ñaïi hoïc chính qui 1  VT  Khoùa 08 ', N'VT  ')
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 06/30/2016 14:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nchar](10) NOT NULL,
	[MAKH] [char](4) NOT NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [MAKH]) VALUES (N'GV01      ', N'NGUYEN HONG', N'SON       ', N'CNTT')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [MAKH]) VALUES (N'GV02      ', N'TRUONG DINH', N'HUY       ', N'CNTT')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [MAKH]) VALUES (N'GV03      ', N'NGUYEN XUAN', N'KHANH     ', N'VT  ')
/****** Object:  StoredProcedure [dbo].[SP_DSLOP]    Script Date: 06/30/2016 14:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DSLOP] AS
  SELECT  TENLOP FROM DBO.LOP
UNION
  SELECT  TENLOP FROM LINK1.QLDSV.DBO.LOP
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 06/30/2016 14:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](8) NOT NULL,
	[HO] [varchar](40) NULL,
	[TEN] [varchar](10) NULL,
	[MALOP] [char](8) NOT NULL,
	[PHAI] [bit] NULL,
	[NGAYSINH] [datetime] NULL,
	[NOISINH] [varchar](40) NULL,
	[DIACHI] [varchar](80) NULL,
	[GHICHU] [text] NULL,
	[NGHIHOC] [bit] NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_MALOP_TEN] ON [dbo].[SINHVIEN] 
(
	[MALOP] ASC,
	[TEN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TENHO] ON [dbo].[SINHVIEN] 
(
	[TEN] ASC,
	[HO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [MALOP], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [GHICHU], [NGHIHOC]) VALUES (N'08THA101', N'Tran Nguyen', N'Minh', N'D08-HTTT', 1, CAST(0x0000883300000000 AS DateTime), N'PHU TAN', N'22 Caø Mau', N' ', 0)
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [MALOP], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [GHICHU], [NGHIHOC]) VALUES (N'08THA102', N'Nguyen Hoang', N'An', N'D08-HTTT', 1, CAST(0x0000882600000000 AS DateTime), N'PHU YEN', N'HA NOI', NULL, 0)
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [MALOP], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [GHICHU], [NGHIHOC]) VALUES (N'08THA103', N'Le Thi', N'Ha', N'D08-HTTT', 0, CAST(0x000087BB00000000 AS DateTime), N'Phuù yeân', N'CAN THO', N' ', 0)
/****** Object:  View [dbo].[v_SISO]    Script Date: 06/30/2016 14:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_SISO]
AS
SELECT L.MALOP , L.TENLOP, COUNT(S.MASV ) AS SISO
FROM LOP L LEFT JOIN 
  (SELECT MASV, MALOP FROM SINHVIEN WHERE NGHIHOC='FALSE') S
     ON L.MALOP=S.MALOP 
GROUP BY L.MALOP, L.TENLOP
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 06/30/2016 14:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIEM](
	[MASV] [char](8) NOT NULL,
	[MAMH] [char](6) NOT NULL,
	[LAN] [smallint] NOT NULL,
	[DIEM] [float] NOT NULL,
 CONSTRAINT [PK_DIEM] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMH] ASC,
	[LAN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DIEM] ([MASV], [MAMH], [LAN], [DIEM]) VALUES (N'08THA101', N'CSDL  ', 1, 4)
INSERT [dbo].[DIEM] ([MASV], [MAMH], [LAN], [DIEM]) VALUES (N'08THA101', N'CTDL  ', 1, 4)
INSERT [dbo].[DIEM] ([MASV], [MAMH], [LAN], [DIEM]) VALUES (N'08THA101', N'CTDL  ', 2, 7)
/****** Object:  Check [CK_DIEM_DIEM]    Script Date: 06/30/2016 14:38:44 ******/
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM_DIEM] CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [CK_DIEM_DIEM]
GO
/****** Object:  Check [CK_DIEM_LAN]    Script Date: 06/30/2016 14:38:44 ******/
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM_LAN] CHECK  (([LAN]=(1) OR [LAN]=(2)))
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [CK_DIEM_LAN]
GO
/****** Object:  ForeignKey [FK_DIEM_MONHOC1]    Script Date: 06/30/2016 14:38:44 ******/
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_MONHOC1] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_MONHOC1]
GO
/****** Object:  ForeignKey [FK_DIEM_SINHVIEN]    Script Date: 06/30/2016 14:38:44 ******/
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [FK_DIEM_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_SINHVIEN]
GO
/****** Object:  ForeignKey [FK_GIANGVIEN_KHOA]    Script Date: 06/30/2016 14:38:44 ******/
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
/****** Object:  ForeignKey [FK_LOP_KHOA1]    Script Date: 06/30/2016 14:38:44 ******/
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA1] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA1]
GO
/****** Object:  ForeignKey [FK_SINHVIEN_LOP]    Script Date: 06/30/2016 14:38:44 ******/
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
